body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 20px;
  background-color: #f5f5f5;
}

.container {
  max-width: 800px;
  margin: auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px; /* Add border radius */
}

h1,
h2 {
  color: #333;
  text-align: center; /* Center the headings */
}

form {
  margin-bottom: 20px;
  display: flex; /* Make the form a flex container */
  flex-direction: column; /* Stack the form elements vertically */
  align-items: center; /* Center the form elements */
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

input {
  width: 80%; /* Reduce the width */
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px; /* Add border radius */
}

button {
  padding: 8px;
  cursor: pointer;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px; /* Add border radius */
  transition: background-color 0.3s ease; /* Add transition */
}

button:hover {
  background-color: #555; /* Change color on hover */
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #333;
  color: #fff;
}

a {
  text-decoration: none;
  color: #333; /* Change link color */
}

a:hover {
  text-decoration: underline;
  color: #555; /* Change link color on hover */
}
